{% extends "base.html" %}

{% block title %}Memberships | FitZone Gym{% endblock %}

{% block content %}

<div class="container py-5">
    <h1 class="text-center mb-5">Membership Plans</h1>

    <div class="row">
        {% for plan in plans %}
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card h-100 shadow-sm">

                    <div class="card-body text-center">

                        <h3 class="card-title">{{ plan.name }}</h3>

                        <h2 class="text-primary">£{{ plan.price }}</h2>

                        <p>{{ plan.description }}</p>

                        <p><strong>{{ plan.duration_days }} days</strong></p>

                        <a href="{% url 'select_plan' plan.id %}" class="btn btn-primary">
                        Choose Plan
                      </a>

                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}