{% extends "base.html" %}

{% block title %}Home | FitZone Gym{% endblock %}

{% block content %}

<section class="container py-5">
    <div class="text-center">
        <h1 class="display-3 fw-bold">FitZone Gym</h1>

        <h2 class="h3 mt-3">Train Stronger. Live Better.</h2>

        <p class="lead mt-4">
            Join FitZone Gym and take the next step towards your fitness goals.
        </p>

        <p>
            Explore our membership options, join our community and gain
            access to gym classes and member benefits.
        </p>

        <a href="{% url 'membership_plans' %}" class="btn btn-primary btn-lg mt-3">
        View Memberships
        </a>

    </div>
</section>

{% endblock %}